.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Map-container {
  display: flex;
  flex-direction: row;
}

.Map-info {
  flex-direction: column;
  background-color: #ebf5fb;
  border: 1 solid black;
  height: 400px;
  width: 300px;
  margin-left: 100px;
}

.leaflet-container {
  height: 400px;
  width: 800px;
}
